body{
    margin:0;   
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: linear-gradient(to bottom, rgb(144, 144, 144)85%, rgb(167, 167, 167));    
    width: 100%;
    height: 105px;
    position: relative;
}

#logo{
    width:142px;
    height:93px;
    position: absolute;
    bottom:-21%;
    right:25%;
}

#menu-icon{
    width: 17px;
    height: 15px;
    border-radius: 0 0 0 0;
    position: absolute;
    bottom: 3%;
    left:96%;
}

#border-menu{
    bottom: 10%;
    margin: -7px 8px;
}

#search{
    position: absolute;
    display: block;
    right:65%;
    width:132px;
    font-size: 12px;
    height: 15px;
    top:20%;
    border-radius: 0 12px 0 0;
}

#search-icon{
    background: url(img/search_button.png) no-repeat left;
    height: 19px;
    position: absolute;
    width: 19px;
    right: 72.1%;
    top: 22%;
}

#lang{
    position: absolute;
    right: 61%;
    top: 26%;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    margin: 0 17px;
    line-height: 1.05;
}

nav{
    position: absolute;
    bottom: 15px;
    left:27%;
}

ul{
    margin: 0;

}

ul>img{
    width:4px;
    height: 21px;
    margin-left: 7px;
}

li{
    position: relative;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    list-style-type: none;
    font-weight: bold;
    padding: 0 5px;
}
.sub-content{
    position: absolute;
    display: none;
    top: 33px;
    background: linear-gradient(to top, rgb(144, 144, 144)85%, rgb(167, 167, 167));   
}

#menu-list>a{
    color: #fff;
    text-decoration: none;
}

#menu-list:hover .sub-content{
    position: absolute;
    display: block;
    z-index: 100;
}

#menu-list>a:hover #menu-list>a{
    color: rgb(0, 92, 160);
}

.sub-content>a{
    display: block;
    border-bottom: 1px solid rgb(177, 177, 177);
    text-decoration: none;
    color: #fff; 
    padding: 5px;
}

.sub-content>a:hover {
    text-decoration: underline;
    color: rgb(0, 92, 160);
    background-color: rgb(167, 167, 167);
}

#right-menu{
    display: block;
    width: 110px;
    height: 35px;
    background: linear-gradient(to bottom, #fff, rgb(208, 208, 208));   
    border-top:1px solid rgb(208, 208, 208);
    margin-top: 30px;
    right: 24%;
}

#right-menu>a{
    display: block;
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size:13px;
    font-weight: 100;
    padding-top:8px;
    padding-right: 15px;
}

#right-menu>a:hover{
    color: rgb(0, 92, 160);
    text-decoration: underline;
}

#master-nav{
    position: absolute;
    right: 33%;
    top:12.5%;
}

#pup-nav{
    color: rgb(87, 87, 87);
    font-size: 13px;
    
}

#up-nav{
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: 13px;
    
}

#up-nav:hover{
    color: rgb(0, 92, 160);
    text-decoration: underline;
}

main>p{
    display: block;
    position: relative;
    right: 33%;
    color: rgb(87, 87, 87);
    width:440px;
    font-size:15px;
    font-weight: bold;
    border-bottom: 1px solid rgb(216, 216, 216);
}

#container{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#col-60{
    display: block;
    position: absolute;
    right: 11%;
    width:60%;
    height: 356px;
    background: url(img/contact_form_bg.png) no-repeat center;
}

#col-40{
    position: relative;
    width:40%;
    right: 47%;
}

#row1{
    position: absolute;
    display: block;
    width: 80%;
    height: 356px;
    top:-10px;
    background: url(img/cube_bg.png) no-repeat 0 0;
    color: rgb(87, 87, 87);
} 

#row1-son,
#row2-son{
    position: relative;
    right: 45%
}

#row2{
    position: absolute;
    display: block;
    width: 80%;
    height: 356px;
    top:190px;
    background: url(img/cube_bg.png) no-repeat 0 0;
    color: rgb(87, 87, 87);
} 

#row2-son>a{
    text-decoration: none;
    font-size: 13px;
    padding: 0;
}

#row1 p,
#row2 p{
    display: block;
    font-size: 13px;
    margin:0;
    padding:0;
} 

#row1 #bold,
#row2 #bold{
    font-weight: bold;
    color: rgb(87, 87, 87);
}

#col-40 h4{
    color: rgb(0, 92, 160);
    margin-bottom: 3px;
}

form{
    display: block;
    font-size: 0.8em
}

#pre-form{
    position: absolute;
    display: block;
    width: 36%;
    right: 32%;
    top:0%;
}

#pre-form p:nth-child(1){
    color: rgb(0, 92, 160);
    font-size: 15px;
    font-weight: bold;
}

#pre-form p:nth-child(2){
    font-weight: bold;
    color: rgb(87, 87, 87);
}

#pre-form p:nth-child(3){
    color: rgb(87, 87, 87);
}

#form{
    float: right;
    position: absolute;
    width:300px;
    margin: 5px auto;
    right: 38%;
    top:32%;
    color: rgb(87, 87, 87);
}

#fName,
#lName,
#cell,
#address{
    width: 100px;
    padding: 0 20px;
    margin: 2px 0;
}

label{
    width: 80px;
    float: right;
    margin: 2px 0;
}

input[type="submit"]{
    position: absolute;
    top: 195px;
    right:183px;
    color: #fff;
    background: linear-gradient(to bottom, rgb(7, 153, 219), rgb(2, 82, 138));   
    border: none;
    padding: 1px 10px;
    border-radius: 0 5px 0 0;
}

input[type="submit"]:hover{
    background: linear-gradient(to bottom, rgb(251, 217, 28), rgb(245, 148, 10));   
    color:black;
}

footer{
    position: fixed;
    background: linear-gradient(to top, rgb(144, 144, 144)90%, rgb(166, 166, 166));    
    width: 100%;
    height: 4%;
    color: white;    
    bottom: 0px;
    text-align: center;
}

footer ul>div{
    position: absolute;
    right:26%;
    bottom: 10px;
}

footer li{
    font-size: 14px;
    font-weight: 100;
    padding: 0 1px;
}

footer li>a{
    text-decoration: none;
    color: #fff;

}
footer li>a>img{
    position: absolute;
    top: -13px;
    right: -17px;
}

footer li>a:hover{
    text-decoration: underline;
    color: rgb(0, 92, 160);
}

footer li:last-child>a:hover{
    text-decoration: underline;
    color: rgb(0, 92, 160);
}


